B√¢y gi·ªù ta s·∫Ω nh·∫≠p c√°c d·ªØ li·ªáu ƒëang c√≥ th√†nh 1 b·∫£ng

In [1]:
import pandas as pd

In [2]:
companies_df = pd.read_csv('../Data/companies.csv')
companies_df.head()

,Name,Marketcap,Country,Share price,Change (1 day),Change (1 year),Categories
0,Apple,$3.043 T,USA,$195.71,0.74%,37.20%,"üë®‚Äçüíª Software, üë©‚Äçüíª Tech, üîå Electronics, üá∫üá∏ Dow ..."
1,Microsoft,$2.781 T,USA,$374.23,0.88%,51.27%,"üë®‚Äçüíª Software, üë©‚Äçüíª Tech, üéÆ Video games, üá∫üá∏ Dow ..."
2,Saudi Aramco,$2.133 T,Saudi Arabia,$8.82,0.15%,16.05%,"üõ¢ Oil&Gas, ‚ö° Energy"
3,Alphabet (Google),$1.698 T,USA,$136.64,-1.31%,45.44%,"üë®‚Äçüíª Software, üñ•Ô∏è Internet, üë©‚Äçüíª Tech, ü§ñ Autonom..."
4,Amazon,$1.523 T,USA,$147.42,0.37%,63.17%,"üõí E-Commerce, üõçÔ∏è Retail, üñ•Ô∏è Internet, üë©‚Äçüíª Tech"

Ta nh·∫≠n th·∫•y kh√¥ng c·∫ßn c·ªôt Marketcap, Share price,Change (1 day),Change (1 year)

In [3]:
companies_df.drop(columns=['Marketcap','Change (1 day)','Change (1 year)'], inplace=True)
companies_df

,Name,Country,Share price,Categories
0,Apple,USA,$195.71,"üë®‚Äçüíª Software, üë©‚Äçüíª Tech, üîå Electronics, üá∫üá∏ Dow ..."
1,Microsoft,USA,$374.23,"üë®‚Äçüíª Software, üë©‚Äçüíª Tech, üéÆ Video games, üá∫üá∏ Dow ..."
2,Saudi Aramco,Saudi Arabia,$8.82,"üõ¢ Oil&Gas, ‚ö° Energy"
3,Alphabet (Google),USA,$136.64,"üë®‚Äçüíª Software, üñ•Ô∏è Internet, üë©‚Äçüíª Tech, ü§ñ Autonom..."
4,Amazon,USA,$147.42,"üõí E-Commerce, üõçÔ∏è Retail, üñ•Ô∏è Internet, üë©‚Äçüíª Tech"
...,...,...,...,...
1995,Taishin Financial Holdings,Taiwan,$0.57,"üè¶ Banks, üí≥ Financial services"
1996,SAAB AB,Sweden,$52.39,"üöÄ Aerospace, üî´ Defense contractors"
1997,Carvana,USA,$40.26,"üõí E-Commerce, üñ•Ô∏è Internet, üöò Used car retailer..."
1998,KBR,USA,$52.24,üë∑ Engineering
1999,VF Corporation,USA,$18.14,"üëö Clothing, üëü Footwear"

In [4]:
revenue_df = pd.read_csv('../Data/revenue.csv')
marketcap_df = pd.read_csv('../Data/marketcap.csv')
earnings_df = pd.read_csv('../Data/earnings.csv')
eps_df = pd.read_csv('../Data/eps.csv')
debts_df = pd.read_csv('../Data/debts.csv')
net_assets_df = pd.read_csv('../Data/net_assets.csv')
total_assets_df = pd.read_csv('../Data/total_assets.csv')
cash_on_hand_df = pd.read_csv('../Data/cash_on_hand.csv')

In [5]:
revenue_df.head()

,Company,2023 (TTM),2022,2021,2020,2019,2018,2017,2016,2015,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
0,apple,$383.28 B,$387.53 B,$378.32 B,$294.13 B,$267.68 B,$261.61 B,$239.17 B,$218.11 B,$234.98 B,...,$76.28 B,$42.05 B,$33.03 B,$26.49 B,$20.68 B,$16.19 B,$9.76 B,$6.74 B,$5.83 B,$5.73 B
1,microsoft,$218.31 B,$204.09 B,$184.90 B,$153.28 B,$134.24 B,$118.45 B,$98.86 B,$85.68 B,$88.08 B,...,$66.69 B,$58.68 B,$61.98 B,$57.89 B,$46.05 B,$41.35 B,$38.47 B,$34.26 B,$30.78 B,$26.77 B
2,saudi-aramco,$502.35 B,$604.17 B,$400.74 B,$229.97 B,$331.19 B,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,alphabet-google,$297.13 B,$282.83 B,$257.63 B,$182.52 B,$161.85 B,$136.81 B,$110.85 B,$90.27 B,$74.98 B,...,$29.32 B,$23.65 B,$21.79 B,$16.59 B,$10.60 B,$6.13 B,$3.18 B,NaN,NaN,NaN
4,amazon,$554.02 B,$513.98 B,$469.82 B,$386.06 B,$280.52 B,$232.88 B,$177.86 B,$135.98 B,$107.00 B,...,$34.20 B,$24.50 B,$19.16 B,$14.83 B,$10.71 B,$8.49 B,$6.92 B,$5.26 B,$3.93 B,$3.12 B

In [6]:
marketcap_df.head()

,Company,2023,2022,2021,2020,2019,2018,2017,2016,2015,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
0,apple,$3.043 T,$2.066 T,$2.901 T,$2.255 T,$1.287 T,$746.07 B,$860.88 B,$608.96 B,$583.61 B,...,$297.09 B,$190.98 B,$75.99 B,$174.03 B,$72.98 B,$60.79 B,$26.05 B,$7.88 B,$5.16 B,$7.71 B
1,microsoft,$2.781 T,$1.787 T,$2.522 T,$1.681 T,$1.200 T,$780.36 B,$659.90 B,$483.16 B,$439.67 B,...,$234.52 B,$268.55 B,$172.92 B,$332.11 B,$291.94 B,$271.54 B,$290.71 B,$295.29 B,$276.63 B,$358.05 B
2,saudi-aramco,$2.133 T,$1.881 T,$1.908 T,$2.053 T,$1.880 T,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,alphabet-google,$1.698 T,$1.145 T,$1.917 T,$1.185 T,$921.13 B,$723.55 B,$729.45 B,$539.06 B,$528.16 B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,amazon,$1.523 T,$856.94 B,$1.691 T,$1.634 T,$920.22 B,$737.46 B,$563.53 B,$356.31 B,$318.34 B,...,$81.18 B,$59.72 B,$21.99 B,$38.53 B,$16.33 B,$19.61 B,$18.14 B,$21.22 B,$7.32 B,$4.03 B

In [7]:
earnings_df.head()

,Company,2023 (TTM),2022,2021,2020,2019,2018,2017,2016,2015,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
0,apple,$114.30 B,$113.96 B,$116.90 B,$74.25 B,$66.15 B,$67.97 B,$64.25 B,$59.21 B,$71.15 B,...,$21.48 B,$10.25 B,$6.27 B,$5.21 B,$3.39 B,$1.99 B,$0.72 B,$0.19 B,$35 M,$0.23 B
1,microsoft,$95.02 B,$82.58 B,$79.68 B,$60.72 B,$49.85 B,$39.92 B,$28.61 B,$20.07 B,$16.12 B,...,$27.09 B,$21.84 B,$22.40 B,$24.29 B,$17.41 B,$17.37 B,$14.92 B,$13.24 B,$13.96 B,$9.00 B
2,saudi-aramco,$247.43 B,$307.36 B,$205.34 B,$99.34 B,$177.79 B,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,alphabet-google,$78.78 B,$71.68 B,$91.08 B,$48.21 B,$39.72 B,$35.02 B,$27.30 B,$24.27 B,$19.20 B,...,$10.38 B,$8.31 B,$6.79 B,$5.67 B,$3.32 B,$2.01 B,$1.14 B,NaN,NaN,NaN
4,amazon,$26.07 B,-$3.57 B,$39.96 B,$25.82 B,$15.57 B,$12.67 B,$4.65 B,$4.37 B,$2.02 B,...,$1.53 B,$1.19 B,$0.97 B,$0.73 B,$0.45 B,$0.52 B,$0.46 B,$0.16 B,-$2.84 M,-$0.39 B

In [8]:
eps_df.head()

,Company,2023 (TTM),2022,2021,2020,2019,2018,2017,2016,2015,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
0,apple,$6.16,$5.92,$6.08,$3.74,$3.19,$3.07,$2.45,$2.10,$2.37,...,$0.65,$0.31,$0.25,$0.17,$0.10,$0.06964,$0.02286,$0.006964,$0.0008930,$0.01054
1,microsoft,$10.36,$9.02,$9.47,$6.78,$5.80,$4.35,$1.58,$2.42,$1.45,...,$2.39,$1.82,$1.89,$1.79,$1.19,$1.22,$0.92,$0.72,$0.75,$0.56
2,saudi-aramco,$0.55,$0.65,$0.43,$0.20,$0.54,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,alphabet-google,$5.25,$4.59,$5.70,$2.96,$2.48,$2.21,$0.92,$1.42,$1.16,...,$0.67,$0.52,$0.34,$0.34,$0.26,$0.13,$0.04483,NaN,NaN,NaN
4,amazon,$1.96,-$0.27,$3.30,$2.13,$1.17,$1.03,$0.32,$0.25,$0.06400,...,$0.13,$0.10,$0.07600,$0.05750,$0.02300,$0.04350,$0.07250,$0.004500,-$0.01950,-$0.07850

In [9]:
debts_df.head()

,Company,2023,2022,2021,2020,2019,2018,2017,2016,2015,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
0,apple,$111.08 B,$120.06 B,$124.71 B,$112.43 B,$108.04 B,$114.48 B,$115.68 B,$87.03 B,$64.46 B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$0.30 B,$0.31 B,$0.31 B
1,microsoft,$59.96 B,$61.27 B,$67.77 B,$70.99 B,$78.36 B,$81.80 B,$86.19 B,$53.68 B,$35.29 B,...,$5.93 B,$5.74 B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,saudi-aramco,NaN,$104.61 B,$136.24 B,$143.04 B,$46.84 B,$27.00 B,$20.69 B,$13.98 B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,alphabet-google,NaN,$27.20 B,$26.20 B,$25.07 B,$14.76 B,$4.01 B,$3.96 B,$3.93 B,$5.22 B,...,$3.46 B,NaN,NaN,NaN,NaN,NaN,$1.9 M,$6.6 M,$10.86 M,NaN
4,amazon,NaN,$140.11 B,$116.39 B,$84.38 B,$63.20 B,$23.49 B,$24.74 B,$7.69 B,$8.23 B,...,$0.64 B,$0.10 B,$0.59 B,$1.34 B,$1.26 B,$1.52 B,$1.85 B,$1.94 B,$2.29 B,$2.17 B

In [10]:
net_assets_df.head()

,Company,2023,2022,2021,2020,2019,2018,2017,2016,2015,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
0,apple,$62.14 B,$50.67 B,$63.09 B,$65.33 B,$90.48 B,$107.14 B,$134.04 B,$128.24 B,$119.35 B,...,$47.79 B,$27.83 B,$21.03 B,$14.53 B,$9.98 B,$7.46 B,$5.07 B,$4.22 B,$4.09 B,$3.92 B
1,microsoft,$206.22 B,$166.54 B,$141.98 B,$118.30 B,$102.33 B,$82.71 B,$72.39 B,$71.99 B,$80.08 B,...,$46.17 B,$39.55 B,$36.28 B,$31.09 B,$40.10 B,$48.11 B,$74.82 B,$61.02 B,$52.18 B,$47.28 B
2,saudi-aramco,NaN,$443.34 B,$341.51 B,$293.80 B,$279.11 B,$274.13 B,$220.35 B,$196.02 B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,alphabet-google,NaN,$256.14 B,$251.63 B,$222.54 B,$201.44 B,$177.62 B,$152.50 B,$139.03 B,$120.33 B,...,$46.24 B,$36.00 B,$28.23 B,$22.68 B,$17.03 B,$9.41 B,$2.92 B,$0.58 B,$0.17 B,NaN
4,amazon,NaN,$146.04 B,$138.24 B,$93.40 B,$62.06 B,$43.54 B,$27.70 B,$19.28 B,$13.38 B,...,$6.86 B,$5.25 B,$2.67 B,$1.19 B,$0.43 B,$0.24 B,$-0.23 B,$-1.04 B,$-1.36 B,$-1.44 B

In [11]:
total_assets_df.head()

,Company,2023,2022,2021,2020,2019,2018,2017,2016,2015,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
0,apple,$352.58 B,$352.75 B,$351.00 B,$323.88 B,$338.51 B,$365.72 B,$375.31 B,$321.68 B,$290.47 B,...,$75.18 B,$53.85 B,$39.57 B,$25.34 B,$17.20 B,$11.55 B,$8.05 B,$6.81 B,$6.29 B,$6.02 B
1,microsoft,$411.97 B,$364.84 B,$333.77 B,$301.31 B,$286.55 B,$258.84 B,$241.08 B,$193.69 B,$176.22 B,...,$86.11 B,$77.88 B,$72.79 B,$63.17 B,$69.59 B,$70.81 B,$92.38 B,$79.57 B,$67.64 B,$59.25 B
2,saudi-aramco,NaN,$663.34 B,$576.72 B,$510.78 B,$398.60 B,$358.83 B,$294.01 B,$250.76 B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,alphabet-google,NaN,$365.26 B,$359.26 B,$319.61 B,$275.90 B,$232.79 B,$197.29 B,$167.49 B,$147.46 B,...,$57.85 B,$40.49 B,$31.76 B,$25.33 B,$18.47 B,$10.27 B,$3.31 B,$0.87 B,$0.28 B,NaN
4,amazon,NaN,$462.67 B,$420.54 B,$321.19 B,$225.24 B,$162.64 B,$131.31 B,$83.40 B,$65.44 B,...,$18.79 B,$13.81 B,$8.31 B,$6.48 B,$4.36 B,$3.69 B,$3.24 B,$2.16 B,$1.99 B,$1.63 B

In [12]:
cash_on_hand_df.head()

,Company,2023,2022,2021,2020,2019,2018,2017,2016,2015,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
0,apple,$61.55 B,$48.30 B,$62.63 B,$90.94 B,$100.55 B,$66.30 B,$74.18 B,$67.15 B,$41.60 B,...,$25.62 B,$23.46 B,$24.49 B,$15.38 B,$10.11 B,$8.26 B,$5.46 B,$4.56 B,$4.33 B,$4.33 B
1,microsoft,$111.26 B,$104.75 B,$130.33 B,$136.52 B,$133.81 B,$133.76 B,$132.98 B,$113.24 B,$96.52 B,...,$36.78 B,$31.44 B,$23.66 B,$23.41 B,$34.16 B,$37.75 B,$60.59 B,$49.04 B,$38.65 B,$31.60 B
2,saudi-aramco,NaN,$135.21 B,$87.51 B,$57.33 B,$59.61 B,$49.02 B,$23.38 B,$16.21 B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,alphabet-google,NaN,$113.76 B,$139.64 B,$136.69 B,$119.67 B,$109.14 B,$101.87 B,$86.33 B,$73.06 B,...,$34.97 B,$24.48 B,$15.84 B,$14.21 B,$11.24 B,$8.03 B,$2.13 B,$0.33 B,$0.14 B,NaN
4,amazon,NaN,$70.02 B,$96.04 B,$84.39 B,$55.02 B,$41.25 B,$30.98 B,$25.98 B,$19.80 B,...,$8.76 B,$6.36 B,$3.72 B,$3.11 B,$2.01 B,$2.00 B,$1.77 B,$1.39 B,$1.30 B,$0.99 B

Ta th·∫•y, c√°c t√™n c√¥ng ti trong c·ªôt 'Company' kh√¥ng tr√πng v·ªõi t√™n c√¥ng ty trong c·ªôt 'Name' trong Companies_df.  
2023 (TTM) ƒë∆∞·ª£c ghi thay v√¨  2023 trong eps_df, earings_df, revenue_df

In [13]:
# Thay l·∫°i t√™n c√°c c√¥ng ty
names = companies_df['Name']
marketcap_df['Company'] = names
revenue_df['Company'] = names
earnings_df['Company'] = names
eps_df['Company'] = names
debts_df['Company'] = names
net_assets_df['Company'] = names
total_assets_df['Company'] = names
cash_on_hand_df['Company'] = names

In [17]:
# ƒê·ªïi l·∫°i t√™n c·ªôt
companies_df = companies_df.rename(columns={'Name': 'Company',})
eps_df = eps_df.rename(columns={'2023 (TTM)': '2023',})
earnings_df = earnings_df.rename(columns={'2023 (TTM)': '2023',})
revenue_df = revenue_df.rename(columns={'2023 (TTM)': '2023',})

In [18]:
companies_df.head(1)

,Company,Country,Share price,Categories
0,Apple,USA,$195.71,"üë®‚Äçüíª Software, üë©‚Äçüíª Tech, üîå Electronics, üá∫üá∏ Dow ..."

In [19]:
revenue_df.sample(1)

,Company,2023,2022,2021,2020,2019,2018,2017,2016,2015,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
387,Denso,$49.47 B,$46.16 B,$48.57 B,$45.05 B,$48.39 B,$48.92 B,$43.77 B,$41.32 B,$37.44 B,...,$37.08 B,$28.01 B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Ta s·∫Ω merge c√°c b·∫£ng nh·ªè th√†nh m·ªôt b·∫£ng l·ªõn, v·ªõi c√°c c·ªôt l√† Company,Year,EPS,Earnings,Revenue,Marketcap, Total Debts, Net Assets, Total Assets, Cash on hand, Country, Categories

ƒê·ªÉ l√†m ƒë∆∞·ª£c ƒëi·ªÅu ƒë√≥, tr∆∞·ªõc ti√™n ta ph·∫£i melt c√°c dataframe hi·ªán c√≥

In [20]:
eps_melted_df = eps_df.melt(id_vars='Company', var_name='Year', value_name='EPS')
earnings_melted_df = earnings_df.melt(id_vars='Company', var_name='Year', value_name='Earnings')
revenue_melted_df = revenue_df.melt(id_vars='Company', var_name='Year', value_name='Revenue')
marketcap_melted_df = marketcap_df.melt(id_vars='Company', var_name='Year', value_name='Marketcap')

debts_melted_df = debts_df.melt(id_vars='Company', var_name='Year', value_name='Total Debts')
net_assets_melted_df = net_assets_df.melt(id_vars='Company', var_name='Year', value_name='Net Assets')
total_assets_melted_df = total_assets_df.melt(id_vars='Company', var_name='Year', value_name='Total Assets')
cash_on_hand_melted_df = cash_on_hand_df.melt(id_vars='Company', var_name='Year', value_name='Cash on hand')

In [23]:
cash_on_hand_melted_df.head(10)

                     Company  Year Cash on hand
0                      Apple  2023     $61.55 B
1                  Microsoft  2023    $111.26 B
2               Saudi Aramco  2023          NaN
3          Alphabet (Google)  2023          NaN
4                     Amazon  2023          NaN
5                     NVIDIA  2023     $13.29 B
6  Meta Platforms (Facebook)  2023          NaN
7         Berkshire Hathaway  2023          NaN
8                      Tesla  2023          NaN
9                  Eli Lilly  2023          NaN

In [25]:
# Merge c√°c dataframe l·∫°i
merged_df = pd.merge(eps_melted_df, earnings_melted_df, on=['Company', 'Year'], how='outer')
merged_df = pd.merge(merged_df, revenue_melted_df, on=['Company', 'Year'], how='outer')
merged_df = pd.merge(merged_df, marketcap_melted_df, on=['Company', 'Year'], how='outer')

merged_df = pd.merge(merged_df, debts_melted_df, on=['Company', 'Year'], how='outer')
merged_df = pd.merge(merged_df, net_assets_melted_df, on=['Company', 'Year'], how='outer')
merged_df = pd.merge(merged_df, total_assets_melted_df, on=['Company', 'Year'], how='outer')
merged_df = pd.merge(merged_df, cash_on_hand_melted_df, on=['Company', 'Year'], how='outer')

merged_df = pd.merge(merged_df, companies_df,on=['Company'], how='outer' )
merged_df.sample(10)

,Company,Year,EPS,Earnings,Revenue,Marketcap,Total Debts,Net Assets,Total Assets,Cash on hand,Country,Share price,Categories
3014,Bristol-Myers Squibb,2022,$2.98,$7.71 B,$46.15 B,$152.97 B,$12.50 B,$6.00 B,$28.46 B,$6.22 B,USA,$50.31,"üíä Pharmaceuticals, üß¨ Biotech"
46651,Check Point Software,2016,$4.27,$0.85 B,$1.74 B,$14.48 B,$12.18 B,$12.12 B,$230.17 B,$0.74 B,Israel,$145.72,"üë®‚Äçüíª Software, üë©‚Äçüíª Tech, üîí IT security"
25174,Givaudan,2020,$73.12,$0.83 B,$6.40 B,$39.00 B,$2.14 B,$18.82 B,$48.09 B,$1.55 B,Switzerland,"$3,875","Flavors & Fragrances, üíÑ Cosmetics and Beauty"
20666,Cheniere Energy,2002,-$0.21,-$5.88 M,$0.23 M,$17.02 M,$5.94 B,NaN,NaN,$30.5 M,USA,$176.21,NaN
66509,SalMar ASA,2007,NaN,NaN,NaN,$0.83 B,NaN,$2.63 B,$2.63 B,$21.66 M,Norway,$53.24,üç¥ Food
23324,Givaudan,2023,$97.44,$1.00 B,$7.70 B,$35.75 B,NaN,NaN,NaN,NaN,Switzerland,"$3,875","Flavors & Fragrances, üíÑ Cosmetics and Beauty"
54979,Severstal,2014,$32.28,$1.03 B,$14.10 B,$7.43 B,$1.42 B,$6.40 B,$31.10 B,$0.21 B,Russia,$13.57,"‚õèÔ∏è Mining, üî© Steel producers, üî© Steel industry"
25512,Givaudan,2019,$80.29,$0.78 B,$5.61 B,$28.83 B,$3.80 B,$19.30 B,$48.99 B,$0.97 B,Switzerland,"$3,875","Flavors & Fragrances, üíÑ Cosmetics and Beauty"
64220,HMM,2019,-$2.06,-$0.51 B,$4.74 B,$0.97 B,$9.30 B,$-0.34 B,$0.54 B,$84.52 M,South Korea,$12.00,"üöö Transportation, üö¢ Container shipping, üö¢ Mari..."
46957,Huatai Securities,2009,$0.12,NaN,NaN,NaN,NaN,$5.98 B,$12.88 B,$3.36 B,China,$1.97,üí≥ Financial services

In [27]:
merged_df['Year'].unique()

array(['2023', '2022', '2021', '2020', '2019', '2018', '2017', '2016',
       '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008',
       '2007', '2006', '2005', '2004', '2003', '2002', '2001'],
      dtype=object)

In [28]:
# L∆∞u d·ªØ li·ªáu v√†o file csv
merged_df.to_csv('../Data/raw/raw_data.csv', index=False)