# II. Data explore

## Import các thư viện cần thiết

In [54]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

## Load dataset đã tạo ở phần trước

In [55]:
raw_df = pd.read_csv("../data/raw/raw_data.csv")

In ra 5 dòng đầu tiên của dataset

In [56]:
raw_df.head()

,Company,Year,EPS,Earnings,Revenue,Marketcap,Total Debts,Net Assets,Total Assets,Cash on hand,Country,Share price,Categories
0,Apple,2023,$6.16,$114.30 B,$383.28 B,$3.043 T,$111.08 B,$62.14 B,$352.58 B,$61.55 B,USA,$195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
1,Apple,2022,$5.92,$113.96 B,$387.53 B,$2.066 T,$120.06 B,$50.67 B,$352.75 B,$48.30 B,USA,$195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
2,Apple,2021,$6.08,$116.90 B,$378.32 B,$2.901 T,$124.71 B,$63.09 B,$351.00 B,$62.63 B,USA,$195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
3,Apple,2020,$3.74,$74.25 B,$294.13 B,$2.255 T,$112.43 B,$65.33 B,$323.88 B,$90.94 B,USA,$195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
4,Apple,2019,$3.19,$66.15 B,$267.68 B,$1.287 T,$108.04 B,$90.48 B,$338.51 B,$100.55 B,USA,$195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."

## Số dòng và số cột

In [57]:
n_rows, n_cols = raw_df.shape
print(f"Dataset có {n_rows} dòng và {n_cols} cột")

Dataset có 69460 dòng và 13 cột

## Ý nghĩa của các dòng

1 dòng trong dataset là một observation ghi nhận các thông tin của các công ty theo từng năm. Các thông tin của mỗi dòng cung cấp cho ta cái nhìn tổng quan về quy mô, tình trạng hoạt động... của các công ty

## Ý nghĩa của các cột

- `Company`: tên công ty

- `Year`: năm ghi nhận

- `EPS`: lợi nhuận / cổ phần

- `Earnings`: lợi nhuận

- `Revenue`: doanh thu

- `Marketcap`: vốn hoá thị trường

- `Total Debts`: tổng nợ

- `Net Assets`: tài sản ròng

- `Total Assets`: tổng tài sản

- `Cash on hand`: tiền mặt có sẵn

- `Country`: quốc giá

- `Share price`: giá cổ phiếu

- `Categories`: danh mục công ty

## Kiểm tra sự trùng lắp giữa các dòng

In [58]:
n_dups = raw_df.duplicated().sum()

if n_dups:
    print(f"Có {n_dups} dòng trùng nhau")
else:
    print("Không có dòng bị trùng")

Có 23506 dòng trùng nhau