# II. Data explore

## Import các thư viện cần thiết

In [327]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

## Load dataset đã tạo ở phần trước

In [328]:
raw_df = pd.read_csv("../Data/raw/raw_data.csv")

In ra 5 dòng đầu tiên của dataset

In [329]:
raw_df.head()

,Company,Year,EPS,Earnings,Revenue,Marketcap,Total Debts,Net Assets,Total Assets,Cash on hand,Country,Share price,Categories
0,Apple,2023,$6.16,$114.30 B,$383.28 B,$3.043 T,$111.08 B,$62.14 B,$352.58 B,$61.55 B,USA,$195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
1,Apple,2022,$5.92,$113.96 B,$387.53 B,$2.066 T,$120.06 B,$50.67 B,$352.75 B,$48.30 B,USA,$195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
2,Apple,2021,$6.08,$116.90 B,$378.32 B,$2.901 T,$124.71 B,$63.09 B,$351.00 B,$62.63 B,USA,$195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
3,Apple,2020,$3.74,$74.25 B,$294.13 B,$2.255 T,$112.43 B,$65.33 B,$323.88 B,$90.94 B,USA,$195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
4,Apple,2019,$3.19,$66.15 B,$267.68 B,$1.287 T,$108.04 B,$90.48 B,$338.51 B,$100.55 B,USA,$195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."

## Số dòng và số cột

In [330]:
n_rows, n_cols = raw_df.shape
print(f"Dataset có {n_rows} dòng và {n_cols} cột")

Dataset có 69460 dòng và 13 cột

## Ý nghĩa của các dòng

1 dòng trong dataset là một observation ghi nhận các thông tin của các công ty theo từng năm. Các thông tin của mỗi dòng cung cấp cho ta cái nhìn tổng quan về quy mô, tình trạng hoạt động... của các công ty

## Kiểm tra sự trùng lắp giữa các dòng

In [331]:
n_dups = raw_df.duplicated().sum()

if n_dups:
    print(f"Có {n_dups} dòng trùng nhau")
else:
    print("Không có dòng bị trùng")

Có 23506 dòng trùng nhau

Xóa các dòng bị trùng lắp

In [332]:
raw_df.drop_duplicates(inplace=True)

# Kiểm tra lại sau khi xóa các dòng bị trùng
if raw_df.duplicated().sum():
    print(f"Có {raw_df.duplicated().sum()} dòng trùng nhau")
else:
    print("Không có dòng bị trùng")

Không có dòng bị trùng

In [333]:
raw_df.sample(5)

,Company,Year,EPS,Earnings,Revenue,Marketcap,Total Debts,Net Assets,Total Assets,Cash on hand,Country,Share price,Categories
7867,Paccar,2022,$5.76,$3.67 B,$28.81 B,$34.41 B,$12.92 B,$13.16 B,$33.27 B,$6.15 B,USA,$95.38,NaN
38608,Shanghai Pudong Development Bank,2009,$0.09871,$2.53 B,$5.39 B,$28.03 B,$3.30 B,$9.96 B,$237.56 B,$24.57 B,China,$0.93,"🏦 Banks, 💳 Financial services"
65301,Evergreen Marine,2019,$0.0006801,$25.13 M,$6.20 B,$1.98 B,$5.15 B,$2.44 B,$10.19 B,$1.32 B,Taiwan,$3.77,"🚚 Transportation, 🚢 Container shipping, 🚢 Mari..."
45704,Essity,2020,$1.78,$1.85 B,$13.38 B,$2.25 B,$5.60 B,$7.73 B,$18.88 B,$0.62 B,Sweden,$25.36,NaN
36471,Banco do Brasil,2007,$1.16,NaN,NaN,$16.40 B,$8.00 B,$13.72 B,$202.42 B,$27.89 B,Brazil,$11.05,"🏦 Banks, 💳 Financial services"

In [334]:
# ô xóa
sorted_data = raw_df.groupby('Company').size().sort_values(ascending=False)
sorted_data

Company
(HLBank) Hong Leong Bank          23
Oriental Land                     23
PMetal (Press Metal Aluminium)    23
PKO Bank Polski                   23
PKN Orlen                         23
                                  ..
Ericsson                          23
Equity Residential                23
Equity LifeStyle Properties       23
Equitable Holdings                23
“K” Line                          23
Length: 1998, dtype: int64

## Ý nghĩa của các cột

- `Company`: tên công ty

- `Year`: năm ghi nhận

- `EPS`: lợi nhuận / cổ phần

- `Earnings`: lợi nhuận

- `Revenue`: doanh thu

- `Marketcap`: vốn hoá thị trường

- `Total Debts`: tổng nợ

- `Net Assets`: tài sản ròng

- `Total Assets`: tổng tài sản

- `Cash on hand`: tiền mặt có sẵn

- `Country`: quốc giá

- `Share price`: giá cổ phiếu

- `Categories`: danh mục công ty

## Kiểu dữ liệu mỗi cột

In [335]:
dtypes = raw_df.dtypes
dtypes

Company         object
Year             int64
EPS             object
Earnings        object
Revenue         object
Marketcap       object
Total Debts     object
Net Assets      object
Total Assets    object
Cash on hand    object
Country         object
Share price     object
Categories      object
dtype: object

EPS, Earnings, Revenue, Marketcap, Total Debts, Net Assets, Total Assets, Cash on hand, Share price: Các cột này chứa dữ liệu số nhưng có kèm theo ký hiệu đơn vị như "$", "B" (tượng trưng cho tỷ đô la). Do đó, ta cần loại bỏ các ký tự không cần thiết và chuyển đổi sang kiểu float.  
    Trong cột, có các kí hiệu `T`, `B`, `M` tượng trưng cho ` nghìn tỷ `, `  tỷ ` ,  ` triệu ` . Ta sẽ chuyển hết về `B`.

In [336]:
# df = raw_df.copy()

cols_to_convert = ['EPS', 'Earnings', 'Revenue', 'Marketcap', 'Total Debts', 'Net Assets', 'Total Assets', 'Cash on hand', 'Share price']

conversion_factors = {'M': 1e-3, 'T': 1e3}

for col in cols_to_convert:
    raw_df[col] = raw_df[col].replace({'\$': '', ',': ''}, regex=True)
    last_char = raw_df[col].str[-1]
    
    for idx, c in last_char.items():
        if c in ['M', 'T']:
            raw_df.at[idx, col] = pd.to_numeric(raw_df.at[idx, col][:-1], errors='coerce') * conversion_factors.get(c)
        elif c == 'B':
            raw_df.at[idx, col] = pd.to_numeric(raw_df.at[idx, col][:-1], errors='coerce')
        else:
            raw_df.at[idx, col] = pd.to_numeric(raw_df.at[idx, col], errors='coerce')

    
raw_df.sample(5)

,Company,Year,EPS,Earnings,Revenue,Marketcap,Total Debts,Net Assets,Total Assets,Cash on hand,Country,Share price,Categories
37668,Woolworths Group,2006,0.49,1.09,28.11,22.09,3.25,3.16,9.91,0.39,Australia,23.54,"🛍️ Retail, 🛒 Supermarket Chains"
48090,Polyus,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Russia,115.41,NaN
68365,Dai Nippon Printing,2014,0.8,0.47,13.57,5.87,1.86,9.48,15.3,1.97,Japan,29.33,NaN
41536,Broadridge Financial Solutions,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,191.36,"💼 Professional services, 💳 Financial services"
52901,Adevinta,2022,-1.53,-1.65,2.23,8.53,2.43,9.15,12.83,0.07496,Norway,10.27,"🛒 E-Commerce, 🖥️ Internet, 👩‍💻 Tech"

In [337]:
raw_df[raw_df['Company']== 'Apple']

,Company,Year,EPS,Earnings,Revenue,Marketcap,Total Debts,Net Assets,Total Assets,Cash on hand,Country,Share price,Categories
0,Apple,2023,6.16,114.3,383.28,3043.0,111.08,62.14,352.58,61.55,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
1,Apple,2022,5.92,113.96,387.53,2066.0,120.06,50.67,352.75,48.3,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
2,Apple,2021,6.08,116.9,378.32,2901.0,124.71,63.09,351.0,62.63,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
3,Apple,2020,3.74,74.25,294.13,2255.0,112.43,65.33,323.88,90.94,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
4,Apple,2019,3.19,66.15,267.68,1287.0,108.04,90.48,338.51,100.55,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
5,Apple,2018,3.07,67.97,261.61,746.07,114.48,107.14,365.72,66.3,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
6,Apple,2017,2.45,64.25,239.17,860.88,115.68,134.04,375.31,74.18,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
7,Apple,2016,2.1,59.21,218.11,608.96,87.03,128.24,321.68,67.15,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
8,Apple,2015,2.37,71.15,234.98,583.61,64.46,119.35,290.47,41.6,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
9,Apple,2014,1.87,59.28,199.8,643.12,35.29,111.54,231.83,25.07,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
10,Apple,2013,1.45,49.25,173.99,500.74,16.96,123.54,207.0,40.54,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
11,Apple,2012,1.59,55.11,164.68,499.69,NaN,118.21,176.06,29.12,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
12,Apple,2011,1.27,43.3,127.84,377.51,NaN,76.61,116.37,25.95,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
13,Apple,2010,0.65,21.48,76.28,297.09,NaN,47.79,75.18,25.62,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
14,Apple,2009,0.31,10.25,42.05,190.98,NaN,27.83,53.85,23.46,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
15,Apple,2008,0.25,6.27,33.03,75.99,NaN,21.03,39.57,24.49,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
16,Apple,2007,0.17,5.21,26.49,174.03,NaN,14.53,25.34,15.38,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
17,Apple,2006,0.1,3.39,20.68,72.98,NaN,9.98,17.2,10.11,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
18,Apple,2005,0.06964,1.99,16.19,60.79,NaN,7.46,11.55,8.26,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
19,Apple,2004,0.02286,0.72,9.76,26.05,NaN,5.07,8.05,5.46,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
20,Apple,2003,0.006964,0.19,6.74,7.88,0.3,4.22,6.81,4.56,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
21,Apple,2002,0.000893,0.035,5.83,5.16,0.31,4.09,6.29,4.33,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."
22,Apple,2001,0.01054,0.23,5.73,7.71,0.31,3.92,6.02,4.33,USA,195.71,"👨‍💻 Software, 👩‍💻 Tech, 🔌 Electronics, 🇺🇸 Dow ..."

Ta cũng cần thay đổi lại tên các cột `EPS`, `Earnings`, `Revenue`, `Marketcap`, `Total Debts`, `Net Assets`, `Total Assets`, `Cash on hand`, `Share price` để dễ thấy ý nghĩa của cột.

In [338]:
new_column_names = {
    'EPS': 'EPS ($)',
    'Earnings': 'Earnings ($)',
    'Revenue': 'Revenue ($)',
    'Marketcap': 'Marketcap ($B)',
    'Total Debts': 'Total Debts ($B)',
    'Net Assets': 'Net Assets ($B)',
    'Total Assets': 'Total Assets ($B)',
    'Cash on hand': 'Cash on hand ($)',
    'Share price': 'Share price ($)'
}

# Đổi tên các cột
raw_df = raw_df.rename(columns=new_column_names)

## Kiểm tra missing-values của các cột

In [339]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45954 entries, 0 to 69459
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            45954 non-null  object
 1   Year               45954 non-null  int64
 2   EPS ($)            32237 non-null  object
 3   Earnings ($)       32371 non-null  object
 4   Revenue ($)        32503 non-null  object
 5   Marketcap ($B)     34364 non-null  object
 6   Total Debts ($B)   34199 non-null  object
 7   Net Assets ($B)    36745 non-null  object
 8   Total Assets ($B)  36824 non-null  object
 9   Cash on hand ($)   36043 non-null  object
 10  Country            45954 non-null  object
 11  Share price ($)    45954 non-null  object
 12  Categories         42642 non-null  object
dtypes: int64(1), object(12)
memory usage: 5.9+ MB

Tính tỉ lệ missing-values của các cột

In [340]:
raw_df.apply(lambda col: 1 -col.isna().sum() / len(col))

Company              1.000000
Year                 1.000000
EPS ($)              0.701506
Earnings ($)         0.704422
Revenue ($)          0.707294
Marketcap ($B)       0.747791
Total Debts ($B)     0.744201
Net Assets ($B)      0.799604
Total Assets ($B)    0.801323
Cash on hand ($)     0.784328
Country              1.000000
Share price ($)      1.000000
Categories           0.927928
dtype: float64

- Nhìn chung, có nhiều cột có missing-values khá nhiều

- Đối với các observation thiếu đi `Categories` thì ta sẽ drop. Lí do: công ty không có thông tin về danh mục thì khó cho việc phân tích.

- Đối với các cột còn lại (đa số là `Numerical`), ta sẽ thay bằng giá trị `median` tương ứng dựa theo công ty đó.

## Xử lý missing-values cho các cột `Categorical`

Tiến hành bỏ các dòng missing-values ở `Categories`

In [341]:
raw_df.dropna(subset=["Categories"], inplace=True)

Kiểm tra lại số lượng missing-values ở cột `Categories`

In [342]:
print(f'Số lượng missing-values: {raw_df["Categories"].isna().sum()}')

Số lượng missing-values: 0

Xem lại shape

In [343]:
raw_df.shape

(42642, 13)

## Xử lý missing values cho các cột `Numerical`

In [344]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42642 entries, 0 to 69459
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            42642 non-null  object
 1   Year               42642 non-null  int64
 2   EPS ($)            29863 non-null  object
 3   Earnings ($)       30014 non-null  object
 4   Revenue ($)        30136 non-null  object
 5   Marketcap ($B)     31765 non-null  object
 6   Total Debts ($B)   31705 non-null  object
 7   Net Assets ($B)    34028 non-null  object
 8   Total Assets ($B)  34105 non-null  object
 9   Cash on hand ($)   33375 non-null  object
 10  Country            42642 non-null  object
 11  Share price ($)    42642 non-null  object
 12  Categories         42642 non-null  object
dtypes: int64(1), object(12)
memory usage: 4.6+ MB

Trong các cột `Numerical`, cột tồn tại missing values bao gồm:

- `EPS ($)`           

- `Earnings ($)`       

- `Revenue ($)`      

- `Marketcap ($B)`     

- `Total Debts ($B)`   

- `Net Assets ($B)`    

- `Total Assets ($B)`  

- `Cash on hand ($)`

In [345]:
num_missing_cols = ["EPS ($)", "Earnings ($)", "Revenue ($)", "Marketcap ($B)", "Total Debts ($B)", "Net Assets ($B)", "Total Assets ($B)", "Cash on hand ($)"]
num_missing_cols

['EPS ($)',
 'Earnings ($)',
 'Revenue ($)',
 'Marketcap ($B)',
 'Total Debts ($B)',
 'Net Assets ($B)',
 'Total Assets ($B)',
 'Cash on hand ($)']

Phương án xử lý missing-value bằng cách replace bằng `median` hay `mean` theo cột có vẻ không hợp lý bởi vì có nhiều công ty và quy mô cũng khác nhau. Do đó nếu thay như vậy thì giảm mức độ chính xác đi rất nhiều.

Một phương án có thể đó là thay bằng giá trị `median` dựa trên từng công ty. 

Tuy nhiên, có trường hợp một `company` có một cột toàn `nan`. Do đó, ta sẽ drop luôn những `company` thuộc trường hợp này.

### Tạo DataFrame mới lưu số lượng missing-values của mỗi cột theo từng company

In [346]:
missing_counts_df = raw_df.groupby("Company")[num_missing_cols].apply(lambda company: company.isna().sum())

# Chuyển `Company` thành cột
missing_counts_df = missing_counts_df.reset_index()
missing_counts_df

,Company,EPS ($),Earnings ($),Revenue ($),Marketcap ($B),Total Debts ($B),Net Assets ($B),Total Assets ($B),Cash on hand ($)
0,(HLBank) Hong Leong Bank,11,11,11,5,5,4,4,5
1,37 Interactive Entertainment,9,9,9,19,10,7,7,7
2,3M,0,0,0,0,1,1,1,1
3,3i Group,4,3,3,6,4,3,3,5
4,7-Eleven,9,9,9,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...
1849,monday.com,19,19,19,20,19,19,19,19
1850,nVent Electric,16,16,16,17,18,16,16,16
1851,Ørsted,14,14,14,16,13,13,13,13
1852,ČEZ Group,4,10,10,5,5,5,5,5
1853,“K” Line,8,8,8,0,0,0,0,0

### Tạo DataFrame chứa số lượng missing values là lớn nhất trong các cột theo công ty

In [347]:
max_missing = missing_counts_df.apply(lambda row: max(row[num_missing_cols]), axis = 1)
max_missing_df = pd.concat((missing_counts_df["Company"], max_missing), axis = 1)
max_missing_df.columns = ["Company", "Max missing values"]
max_missing_df

                           Company  Max missing values
0         (HLBank) Hong Leong Bank                  11
1     37 Interactive Entertainment                  19
2                               3M                   1
3                         3i Group                   6
4                         7-Eleven                   9
...                            ...                 ...
1849                    monday.com                  20
1850                nVent Electric                  18
1851                        Ørsted                  16
1852                     ČEZ Group                  10
1853                      “K” Line                   8

[1854 rows x 2 columns]

Do mỗi công ty, ta thu thập `23` observation tương ứng với `23` năm nên ta sẽ drop những observation nào có `Max mising values` là `23`. Bởi vì các company này tồn tại các cột không thể tính `median`

Lấy danh sách công ty cần drop

In [348]:
drop_list = max_missing_df[max_missing_df["Max missing values"] == 23]["Company"]
drop_list.head()

8               ADNOC Drilling Company
9                            ADNOC Gas
10          ADNOC Logistics & Services
37    Abu Dhabi Commercial Bank (ADCB)
38       Abu Dhabi Islamic Bank (ADIB)
Name: Company, dtype: object

In [349]:
print(f"Số lượng công ty cần drop: {len(drop_list)}")

Số lượng công ty cần drop: 52

Tiến hành drop các công ty này trong `raw_df`

In [350]:
raw_df = raw_df[~raw_df["Company"].isin(drop_list.values)]

Xem lại shape

In [355]:
raw_df.shape

(41446, 13)

Bây giờ, ta có thể tiến hành replace `nan` bằng `median` của cột theo từng công ty mà không sợ bị lỗi nữa.

Tương ứng với từng `Numerical` cột, ta sẽ tạo một dictionary với:

- Key: tên của Company

- Value: `median` tương ứng với cột dựa theo Company

In [351]:
median_dict = []

for col in num_missing_cols:
    median_dict.append(raw_df.groupby("Company")[col].median().to_dict())

Lặp qua các cột `Numerical` có missing value và tiến hành thay thế các giá trị `nan` bằng `median` tương ứng

In [353]:
for i, col in enumerate(num_missing_cols):
    raw_df[col] = raw_df.apply(lambda row: median_dict[i][row["Company"]] if pd.isna(row[col]) else row[col], axis = 1)

In [354]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41446 entries, 0 to 69459
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            41446 non-null  object
 1   Year               41446 non-null  int64
 2   EPS ($)            41446 non-null  float64
 3   Earnings ($)       41446 non-null  float64
 4   Revenue ($)        41446 non-null  float64
 5   Marketcap ($B)     41446 non-null  float64
 6   Total Debts ($B)   41446 non-null  float64
 7   Net Assets ($B)    41446 non-null  float64
 8   Total Assets ($B)  41446 non-null  float64
 9   Cash on hand ($)   41446 non-null  float64
 10  Country            41446 non-null  object
 11  Share price ($)    41446 non-null  object
 12  Categories         41446 non-null  object
dtypes: float64(8), int64(1), object(4)
memory usage: 4.4+ MB