# II. Data explore

## Import cÃ¡c thÆ° viá»‡n cáº§n thiáº¿t

In [897]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import re

## Load dataset Ä‘Ã£ táº¡o á»Ÿ pháº§n trÆ°á»›c

In [898]:
raw_df = pd.read_csv("../Data/raw/raw_data.csv")

In ra 5 dÃ²ng Ä‘áº§u tiÃªn cá»§a dataset

In [899]:
raw_df.head()

,Company,Year,EPS,Earnings,Revenue,Marketcap,Total Debts,Net Assets,Total Assets,Cash on hand,Country,Share price,Categories
0,Apple,2023,$6.16,$114.30 B,$383.28 B,$3.043 T,$111.08 B,$62.14 B,$352.58 B,$61.55 B,USA,$195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
1,Apple,2022,$5.92,$113.96 B,$387.53 B,$2.066 T,$120.06 B,$50.67 B,$352.75 B,$48.30 B,USA,$195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
2,Apple,2021,$6.08,$116.90 B,$378.32 B,$2.901 T,$124.71 B,$63.09 B,$351.00 B,$62.63 B,USA,$195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
3,Apple,2020,$3.74,$74.25 B,$294.13 B,$2.255 T,$112.43 B,$65.33 B,$323.88 B,$90.94 B,USA,$195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
4,Apple,2019,$3.19,$66.15 B,$267.68 B,$1.287 T,$108.04 B,$90.48 B,$338.51 B,$100.55 B,USA,$195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."

## Sá»‘ dÃ²ng vÃ  sá»‘ cá»™t

In [900]:
n_rows, n_cols = raw_df.shape
print(f"Dataset cÃ³ {n_rows} dÃ²ng vÃ  {n_cols} cá»™t")

Dataset cÃ³ 69460 dÃ²ng vÃ  13 cá»™t

## Ã nghÄ©a cá»§a cÃ¡c dÃ²ng

1 dÃ²ng trong dataset lÃ  má»™t observation ghi nháº­n cÃ¡c thÃ´ng tin cá»§a cÃ¡c cÃ´ng ty theo tá»«ng nÄƒm. CÃ¡c thÃ´ng tin cá»§a má»—i dÃ²ng cung cáº¥p cho ta cÃ¡i nhÃ¬n tá»•ng quan vá» quy mÃ´, tÃ¬nh tráº¡ng hoáº¡t Ä‘á»™ng... cá»§a cÃ¡c cÃ´ng ty

## Kiá»ƒm tra sá»± trÃ¹ng láº¯p giá»¯a cÃ¡c dÃ²ng

In [901]:
n_dups = raw_df.duplicated().sum()

if n_dups:
    print(f"CÃ³ {n_dups} dÃ²ng trÃ¹ng nhau")
else:
    print("KhÃ´ng cÃ³ dÃ²ng bá»‹ trÃ¹ng")

CÃ³ 23506 dÃ²ng trÃ¹ng nhau

XÃ³a cÃ¡c dÃ²ng bá»‹ trÃ¹ng láº¯p

In [902]:
raw_df.drop_duplicates(inplace=True)

# Kiá»ƒm tra láº¡i sau khi xÃ³a cÃ¡c dÃ²ng bá»‹ trÃ¹ng
if raw_df.duplicated().sum():
    print(f"CÃ³ {raw_df.duplicated().sum()} dÃ²ng trÃ¹ng nhau")
else:
    print("KhÃ´ng cÃ³ dÃ²ng bá»‹ trÃ¹ng")

KhÃ´ng cÃ³ dÃ²ng bá»‹ trÃ¹ng

In [903]:
raw_df.sample(5)

,Company,Year,EPS,Earnings,Revenue,Marketcap,Total Debts,Net Assets,Total Assets,Cash on hand,Country,Share price,Categories
63638,Gjensidige Forsikring,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norway,$16.94,ğŸ¦ Insurance
5192,SK Hynix,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South Korea,$97.12,"ğŸ“Ÿ Semiconductors, ğŸ‘©â€ğŸ’» Tech, ğŸ’» Tech Hardware"
41026,The Hartford,2006,$8.91,$3.87 B,$26.50 B,$30.16 B,$4.36 B,$18.87 B,$326.71 B,$3.34 B,USA,$78.28,"ğŸ¦ Insurance, ğŸ’³ Financial services"
64711,U.S. Steel,2011,-$0.48,$9 M,$19.88 B,$3.81 B,$4.22 B,$3.48 B,$16.06 B,$0.40 B,USA,$35.90,"ğŸ”© Steel producers, ğŸ”© Steel industry"
67666,Klaviyo,2023,NaN,-$0.33 B,$0.44 B,$7.72 B,NaN,NaN,NaN,NaN,USA,$29.88,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech"

In [904]:
# Ã´ xÃ³a
sorted_data = raw_df.groupby('Company').size().sort_values(ascending=False)
sorted_data

Company
(HLBank) Hong Leong Bank          23
Oriental Land                     23
PMetal (Press Metal Aluminium)    23
PKO Bank Polski                   23
PKN Orlen                         23
                                  ..
Ericsson                          23
Equity Residential                23
Equity LifeStyle Properties       23
Equitable Holdings                23
â€œKâ€ Line                          23
Length: 1998, dtype: int64

## Ã nghÄ©a cá»§a cÃ¡c cá»™t

- `Company`: tÃªn cÃ´ng ty

- `Year`: nÄƒm ghi nháº­n

- `EPS`: lá»£i nhuáº­n / cá»• pháº§n

- `Earnings`: lá»£i nhuáº­n

- `Revenue`: doanh thu

- `Marketcap`: vá»‘n hoÃ¡ thá»‹ trÆ°á»ng

- `Total Debts`: tá»•ng ná»£

- `Net Assets`: tÃ i sáº£n rÃ²ng

- `Total Assets`: tá»•ng tÃ i sáº£n

- `Cash on hand`: tiá»n máº·t cÃ³ sáºµn

- `Country`: quá»‘c giÃ¡

- `Share price`: giÃ¡ cá»• phiáº¿u

- `Categories`: danh má»¥c cÃ´ng ty

## Kiá»ƒu dá»¯ liá»‡u má»—i cá»™t

In [905]:
dtypes = raw_df.dtypes
dtypes

Company         object
Year             int64
EPS             object
Earnings        object
Revenue         object
Marketcap       object
Total Debts     object
Net Assets      object
Total Assets    object
Cash on hand    object
Country         object
Share price     object
Categories      object
dtype: object

Kiá»ƒu dá»¯ liá»‡u cá»§a `Year` lÃ  `int64`. Tuy nhiÃªn, ta nháº­n tháº¥y nÃ³ nÃªn thuá»™c `Categorical` thÃ¬ há»£p lÃ½ hÆ¡n `Numerical` nÃªn ta sáº½ Ä‘á»•i sang kiá»ƒu `object`

In [906]:
raw_df["Year"] = raw_df["Year"].astype("object")

## Chuáº©n hoÃ¡ dá»¯ liá»‡u

EPS, Earnings, Revenue, Marketcap, Total Debts, Net Assets, Total Assets, Cash on hand, Share price: CÃ¡c cá»™t nÃ y chá»©a dá»¯ liá»‡u sá»‘ nhÆ°ng cÃ³ kÃ¨m theo kÃ½ hiá»‡u Ä‘Æ¡n vá»‹ nhÆ° "$", "B" (tÆ°á»£ng trÆ°ng cho tá»· Ä‘Ã´ la). Do Ä‘Ã³, ta cáº§n loáº¡i bá» cÃ¡c kÃ½ tá»± khÃ´ng cáº§n thiáº¿t vÃ  chuyá»ƒn Ä‘á»•i sang kiá»ƒu float.  
    Trong cá»™t, cÃ³ cÃ¡c kÃ­ hiá»‡u `T`, `B`, `M` tÆ°á»£ng trÆ°ng cho ` nghÃ¬n tá»· `, `  tá»· ` ,  ` triá»‡u ` . Ta sáº½ chuyá»ƒn háº¿t vá» `B`.

In [907]:
# df = raw_df.copy()

cols_to_convert = ['EPS', 'Earnings', 'Revenue', 'Marketcap', 'Total Debts', 'Net Assets', 'Total Assets', 'Cash on hand', 'Share price']

conversion_factors = {'M': 1e-3, 'T': 1e3}

for col in cols_to_convert:
    raw_df[col] = raw_df[col].replace({'\$': '', ',': ''}, regex=True)
    last_char = raw_df[col].str[-1]
    
    for idx, c in last_char.items():
        if c in ['M', 'T']:
            raw_df.at[idx, col] = pd.to_numeric(raw_df.at[idx, col][:-1], errors='coerce') * conversion_factors.get(c)
        elif c == 'B':
            raw_df.at[idx, col] = pd.to_numeric(raw_df.at[idx, col][:-1], errors='coerce')
        else:
            raw_df.at[idx, col] = pd.to_numeric(raw_df.at[idx, col], errors='coerce')

    
raw_df.sample(5)

,Company,Year,EPS,Earnings,Revenue,Marketcap,Total Debts,Net Assets,Total Assets,Cash on hand,Country,Share price,Categories
1243,Thermo Fisher Scientific,2022,17.76,7.83,44.91,215.97,34.48,44.14,97.29,8.52,USA,489.77,"âš•ï¸ Diagnostics and Testing, ğŸ§¬ Biotech, ğŸ”¬ Scien..."
44271,Tata Steel,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,India,1.55,"ğŸ”© Steel producers, ğŸ”© Steel industry"
8863,Kraft Heinz,2015,1.62,2.29,22.11,88.29,25.15,66.23,122.97,4.83,USA,36.23,ğŸ´ Food
3115,CATL,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,China,22.84,"ğŸ”‹ Electricity, ğŸ”‹ Batteries"
58926,MarketAxess,2023,6.61,0.32,0.73,9.91,NaN,NaN,NaN,NaN,USA,261.68,ğŸ’³ Financial services

In [908]:
raw_df[raw_df['Company']== 'Apple']

,Company,Year,EPS,Earnings,Revenue,Marketcap,Total Debts,Net Assets,Total Assets,Cash on hand,Country,Share price,Categories
0,Apple,2023,6.16,114.3,383.28,3043.0,111.08,62.14,352.58,61.55,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
1,Apple,2022,5.92,113.96,387.53,2066.0,120.06,50.67,352.75,48.3,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
2,Apple,2021,6.08,116.9,378.32,2901.0,124.71,63.09,351.0,62.63,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
3,Apple,2020,3.74,74.25,294.13,2255.0,112.43,65.33,323.88,90.94,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
4,Apple,2019,3.19,66.15,267.68,1287.0,108.04,90.48,338.51,100.55,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
5,Apple,2018,3.07,67.97,261.61,746.07,114.48,107.14,365.72,66.3,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
6,Apple,2017,2.45,64.25,239.17,860.88,115.68,134.04,375.31,74.18,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
7,Apple,2016,2.1,59.21,218.11,608.96,87.03,128.24,321.68,67.15,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
8,Apple,2015,2.37,71.15,234.98,583.61,64.46,119.35,290.47,41.6,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
9,Apple,2014,1.87,59.28,199.8,643.12,35.29,111.54,231.83,25.07,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
10,Apple,2013,1.45,49.25,173.99,500.74,16.96,123.54,207.0,40.54,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
11,Apple,2012,1.59,55.11,164.68,499.69,NaN,118.21,176.06,29.12,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
12,Apple,2011,1.27,43.3,127.84,377.51,NaN,76.61,116.37,25.95,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
13,Apple,2010,0.65,21.48,76.28,297.09,NaN,47.79,75.18,25.62,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
14,Apple,2009,0.31,10.25,42.05,190.98,NaN,27.83,53.85,23.46,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
15,Apple,2008,0.25,6.27,33.03,75.99,NaN,21.03,39.57,24.49,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
16,Apple,2007,0.17,5.21,26.49,174.03,NaN,14.53,25.34,15.38,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
17,Apple,2006,0.1,3.39,20.68,72.98,NaN,9.98,17.2,10.11,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
18,Apple,2005,0.06964,1.99,16.19,60.79,NaN,7.46,11.55,8.26,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
19,Apple,2004,0.02286,0.72,9.76,26.05,NaN,5.07,8.05,5.46,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
20,Apple,2003,0.006964,0.19,6.74,7.88,0.3,4.22,6.81,4.56,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
21,Apple,2002,0.000893,0.035,5.83,5.16,0.31,4.09,6.29,4.33,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."
22,Apple,2001,0.01054,0.23,5.73,7.71,0.31,3.92,6.02,4.33,USA,195.71,"ğŸ‘¨â€ğŸ’» Software, ğŸ‘©â€ğŸ’» Tech, ğŸ”Œ Electronics, ğŸ‡ºğŸ‡¸ Dow ..."

Ta cÅ©ng cáº§n thay Ä‘á»•i láº¡i tÃªn cÃ¡c cá»™t `EPS`, `Earnings`, `Revenue`, `Marketcap`, `Total Debts`, `Net Assets`, `Total Assets`, `Cash on hand`, `Share price` Ä‘á»ƒ dá»… tháº¥y Ã½ nghÄ©a cá»§a cá»™t.

In [909]:
new_column_names = {
    'EPS': 'EPS ($)',
    'Earnings': 'Earnings ($B)',
    'Revenue': 'Revenue ($B)',
    'Marketcap': 'Marketcap ($B)',
    'Total Debts': 'Total Debts ($B)',
    'Net Assets': 'Net Assets ($B)',
    'Total Assets': 'Total Assets ($B)',
    'Cash on hand': 'Cash on hand ($B)',
    'Share price': 'Share price ($)'
}

# Äá»•i tÃªn cÃ¡c cá»™t
raw_df = raw_df.rename(columns=new_column_names)

BÃ¢y giá», cá»™t `Categories` chá»©a cÃ¡c icon khÃ´ng cáº§n thiáº¿t vÃ  gÃ¢y nhiá»u khÃ³ khÄƒn cho nÃªn ta sáº½ xoÃ¡ cÃ¡c icon nÃ y

HÃ m loáº¡i bá» emoji

In [910]:
def remove_emojis(input_string):
    # Create a regex pattern to match a broader range of special characters
    special_char_pattern = re.compile("[^\w\s,]\s?", flags=re.UNICODE)

    # Use re.sub to replace the matched characters with an empty string
    result_string = special_char_pattern.sub('', input_string)

    return result_string

XoÃ¡ cÃ¡c icon trong `Categories`

In [911]:
raw_df["Categories"] = raw_df["Categories"].apply(lambda x: x if pd.isna(x) else remove_emojis(x))

In [912]:
raw_df["Categories"][22:24]

22    Software, Tech, Electronics, Dow jones, Tech H...
23           Software, Tech, Video games, Dow jones, AI
Name: Categories, dtype: object

ÄÃ£ xoÃ¡ thÃ nh cÃ´ng emoji, tuy nhiÃªn váº«n cÃ²n cÃ¡c khoáº£ng tráº¯ng dÆ° thá»«a

Viáº¿t hÃ m chuáº©n hoÃ¡ Ä‘á»ƒ xoÃ¡ bá» cÃ¡c khoáº£ng tráº¯ng dÆ° thá»«a

In [913]:
def normalize(x): # x is a row
    if pd.isna(x):
        return x
    else:
        x = x.strip()
        x = x.split(", ")
        x = [cate.strip() for cate in  x]
        x = ", ".join(x)
        return x



raw_df["Categories"] = raw_df["Categories"].apply(normalize)

## Kiá»ƒm tra missing-values cá»§a cÃ¡c cá»™t

In [914]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45954 entries, 0 to 69459
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            45954 non-null  object
 1   Year               45954 non-null  object
 2   EPS ($)            32237 non-null  object
 3   Earnings ($B)      32371 non-null  object
 4   Revenue ($B)       32503 non-null  object
 5   Marketcap ($B)     34364 non-null  object
 6   Total Debts ($B)   34199 non-null  object
 7   Net Assets ($B)    36745 non-null  object
 8   Total Assets ($B)  36824 non-null  object
 9   Cash on hand ($B)  36043 non-null  object
 10  Country            45954 non-null  object
 11  Share price ($)    45954 non-null  object
 12  Categories         42642 non-null  object
dtypes: object(13)
memory usage: 5.9+ MB

TÃ­nh tá»‰ lá»‡ missing-values cá»§a cÃ¡c cá»™t

In [915]:
raw_df.apply(lambda col: 1 -col.isna().sum() / len(col))

Company              1.000000
Year                 1.000000
EPS ($)              0.701506
Earnings ($B)        0.704422
Revenue ($B)         0.707294
Marketcap ($B)       0.747791
Total Debts ($B)     0.744201
Net Assets ($B)      0.799604
Total Assets ($B)    0.801323
Cash on hand ($B)    0.784328
Country              1.000000
Share price ($)      1.000000
Categories           0.927928
dtype: float64

- NhÃ¬n chung, cÃ³ nhiá»u cá»™t cÃ³ missing-values khÃ¡ nhiá»u

- Äá»‘i vá»›i cÃ¡c observation thiáº¿u Ä‘i `Categories` thÃ¬ ta sáº½ drop. LÃ­ do: cÃ´ng ty khÃ´ng cÃ³ thÃ´ng tin vá» danh má»¥c thÃ¬ khÃ³ cho viá»‡c phÃ¢n tÃ­ch.

- Äá»‘i vá»›i cÃ¡c cá»™t cÃ²n láº¡i (Ä‘a sá»‘ lÃ  `Numerical`), ta sáº½ thay báº±ng giÃ¡ trá»‹ `median` tÆ°Æ¡ng á»©ng dá»±a theo cÃ´ng ty Ä‘Ã³.

## Xá»­ lÃ½ missing-values cho cÃ¡c cá»™t `Categorical`

Tiáº¿n hÃ nh bá» cÃ¡c dÃ²ng missing-values á»Ÿ `Categories`

In [916]:
raw_df.dropna(subset=["Categories"], inplace=True)

Kiá»ƒm tra láº¡i sá»‘ lÆ°á»£ng missing-values á»Ÿ cá»™t `Categories`

In [917]:
print(f'Sá»‘ lÆ°á»£ng missing-values: {raw_df["Categories"].isna().sum()}')

Sá»‘ lÆ°á»£ng missing-values: 0

Xem láº¡i shape

In [918]:
raw_df.shape

(42642, 13)

## Xá»­ lÃ½ missing values cho cÃ¡c cá»™t `Numerical`

In [919]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42642 entries, 0 to 69459
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            42642 non-null  object
 1   Year               42642 non-null  object
 2   EPS ($)            29863 non-null  object
 3   Earnings ($B)      30014 non-null  object
 4   Revenue ($B)       30136 non-null  object
 5   Marketcap ($B)     31765 non-null  object
 6   Total Debts ($B)   31705 non-null  object
 7   Net Assets ($B)    34028 non-null  object
 8   Total Assets ($B)  34105 non-null  object
 9   Cash on hand ($B)  33375 non-null  object
 10  Country            42642 non-null  object
 11  Share price ($)    42642 non-null  object
 12  Categories         42642 non-null  object
dtypes: object(13)
memory usage: 4.6+ MB

Trong cÃ¡c cá»™t `Numerical`, cá»™t tá»“n táº¡i missing values bao gá»“m:

- `EPS ($)`           

- `Earnings ($B)`       

- `Revenue ($B)`      

- `Marketcap ($B)`     

- `Total Debts ($B)`   

- `Net Assets ($B)`    

- `Total Assets ($B)`  

- `Cash on hand ($B)`

In [920]:
num_missing_cols = ["EPS ($)", "Earnings ($B)", "Revenue ($B)", "Marketcap ($B)", "Total Debts ($B)", "Net Assets ($B)", "Total Assets ($B)", "Cash on hand ($B)"]
num_missing_cols

['EPS ($)',
 'Earnings ($B)',
 'Revenue ($B)',
 'Marketcap ($B)',
 'Total Debts ($B)',
 'Net Assets ($B)',
 'Total Assets ($B)',
 'Cash on hand ($B)']

PhÆ°Æ¡ng Ã¡n xá»­ lÃ½ missing-value báº±ng cÃ¡ch replace báº±ng `median` hay `mean` theo cá»™t cÃ³ váº» khÃ´ng há»£p lÃ½ bá»Ÿi vÃ¬ cÃ³ nhiá»u cÃ´ng ty vÃ  quy mÃ´ cÅ©ng khÃ¡c nhau. Do Ä‘Ã³ náº¿u thay nhÆ° váº­y thÃ¬ giáº£m má»©c Ä‘á»™ chÃ­nh xÃ¡c Ä‘i ráº¥t nhiá»u.

Má»™t phÆ°Æ¡ng Ã¡n cÃ³ thá»ƒ Ä‘Ã³ lÃ  thay báº±ng giÃ¡ trá»‹ `median` dá»±a trÃªn tá»«ng cÃ´ng ty. 

Tuy nhiÃªn, cÃ³ trÆ°á»ng há»£p má»™t `company` cÃ³ má»™t cá»™t toÃ n `nan`. Do Ä‘Ã³, ta sáº½ drop luÃ´n nhá»¯ng `company` thuá»™c trÆ°á»ng há»£p nÃ y.

### Táº¡o DataFrame má»›i lÆ°u sá»‘ lÆ°á»£ng missing-values cá»§a má»—i cá»™t theo tá»«ng company

In [921]:
missing_counts_df = raw_df.groupby("Company")[num_missing_cols].apply(lambda company: company.isna().sum())

# Chuyá»ƒn `Company` thÃ nh cá»™t
missing_counts_df = missing_counts_df.reset_index()
missing_counts_df

,Company,EPS ($),Earnings ($B),Revenue ($B),Marketcap ($B),Total Debts ($B),Net Assets ($B),Total Assets ($B),Cash on hand ($B)
0,(HLBank) Hong Leong Bank,11,11,11,5,5,4,4,5
1,37 Interactive Entertainment,9,9,9,19,10,7,7,7
2,3M,0,0,0,0,1,1,1,1
3,3i Group,4,3,3,6,4,3,3,5
4,7-Eleven,9,9,9,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...
1849,monday.com,19,19,19,20,19,19,19,19
1850,nVent Electric,16,16,16,17,18,16,16,16
1851,Ã˜rsted,14,14,14,16,13,13,13,13
1852,ÄŒEZ Group,4,10,10,5,5,5,5,5
1853,â€œKâ€ Line,8,8,8,0,0,0,0,0

### Táº¡o DataFrame chá»©a sá»‘ lÆ°á»£ng missing values lÃ  lá»›n nháº¥t trong cÃ¡c cá»™t theo cÃ´ng ty

In [922]:
max_missing = missing_counts_df.apply(lambda row: max(row[num_missing_cols]), axis = 1)
max_missing_df = pd.concat((missing_counts_df["Company"], max_missing), axis = 1)
max_missing_df.columns = ["Company", "Max missing values"]
max_missing_df

                           Company  Max missing values
0         (HLBank) Hong Leong Bank                  11
1     37 Interactive Entertainment                  19
2                               3M                   1
3                         3i Group                   6
4                         7-Eleven                   9
...                            ...                 ...
1849                    monday.com                  20
1850                nVent Electric                  18
1851                        Ã˜rsted                  16
1852                     ÄŒEZ Group                  10
1853                      â€œKâ€ Line                   8

[1854 rows x 2 columns]

Do má»—i cÃ´ng ty, ta thu tháº­p `23` observation tÆ°Æ¡ng á»©ng vá»›i `23` nÄƒm nÃªn ta sáº½ drop nhá»¯ng observation nÃ o cÃ³ `Max mising values` lÃ  `23`. Bá»Ÿi vÃ¬ cÃ¡c company nÃ y tá»“n táº¡i cÃ¡c cá»™t khÃ´ng thá»ƒ tÃ­nh `median`

Láº¥y danh sÃ¡ch cÃ´ng ty cáº§n drop

In [923]:
drop_list = max_missing_df[max_missing_df["Max missing values"] == 23]["Company"]
drop_list.head()

8               ADNOC Drilling Company
9                            ADNOC Gas
10          ADNOC Logistics & Services
37    Abu Dhabi Commercial Bank (ADCB)
38       Abu Dhabi Islamic Bank (ADIB)
Name: Company, dtype: object

In [924]:
print(f"Sá»‘ lÆ°á»£ng cÃ´ng ty cáº§n drop: {len(drop_list)}")

Sá»‘ lÆ°á»£ng cÃ´ng ty cáº§n drop: 52

Tiáº¿n hÃ nh drop cÃ¡c cÃ´ng ty nÃ y trong `raw_df`

In [925]:
raw_df = raw_df[~raw_df["Company"].isin(drop_list.values)]

Xem láº¡i shape

In [926]:
raw_df.shape

(41446, 13)

BÃ¢y giá», ta cÃ³ thá»ƒ tiáº¿n hÃ nh replace `nan` báº±ng `median` cá»§a cá»™t theo tá»«ng cÃ´ng ty mÃ  khÃ´ng sá»£ bá»‹ lá»—i ná»¯a.

TÆ°Æ¡ng á»©ng vá»›i tá»«ng `Numerical` cá»™t, ta sáº½ táº¡o má»™t dictionary vá»›i:

- Key: tÃªn cá»§a Company

- Value: `median` tÆ°Æ¡ng á»©ng vá»›i cá»™t dá»±a theo Company

In [927]:
median_dict = []

for col in num_missing_cols:
    median_dict.append(raw_df.groupby("Company")[col].median().to_dict())

Láº·p qua cÃ¡c cá»™t `Numerical` cÃ³ missing value vÃ  tiáº¿n hÃ nh thay tháº¿ cÃ¡c giÃ¡ trá»‹ `nan` báº±ng `median` tÆ°Æ¡ng á»©ng

In [928]:
for i, col in enumerate(num_missing_cols):
    raw_df[col] = raw_df.apply(lambda row: median_dict[i][row["Company"]] if pd.isna(row[col]) else row[col], axis = 1)

In [929]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41446 entries, 0 to 69459
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            41446 non-null  object
 1   Year               41446 non-null  object
 2   EPS ($)            41446 non-null  float64
 3   Earnings ($B)      41446 non-null  float64
 4   Revenue ($B)       41446 non-null  float64
 5   Marketcap ($B)     41446 non-null  float64
 6   Total Debts ($B)   41446 non-null  float64
 7   Net Assets ($B)    41446 non-null  float64
 8   Total Assets ($B)  41446 non-null  float64
 9   Cash on hand ($B)  41446 non-null  float64
 10  Country            41446 non-null  object
 11  Share price ($)    41446 non-null  object
 12  Categories         41446 non-null  object
dtypes: float64(8), object(5)
memory usage: 4.4+ MB

## PhÃ¢n bá»‘ cá»§a cÃ¡c cá»™t `Categorical`

CÃ¡c cá»™t bao gá»“m:
- `Company`

- `Year`

- `Country`

- `Categories`

Xem phÃ¢n bá»‘ cá»§a cÃ¡c cá»™t cÃ³ giÃ¡ trá»‹ Ä‘Æ¡n láº»

In [930]:
single_cat_cols = ["Company", "Year", "Country"]
single_dist = raw_df[single_cat_cols].agg([
    lambda x: x.nunique(),
    lambda x: x.value_counts().to_dict()
])
single_dist.index = ["count", "distribution"]
single_dist

,Company,Year,Country
count,1802,23,49
distribution,"{'Apple': 23, 'The Mosaic Company': 23, 'BDO U...","{2023: 1802, 2011: 1802, 2002: 1802, 2003: 180...","{'USA': 15042, 'Japan': 3151, 'China': 3082, '..."

Xem phÃ¢n bá»‘ cá»§a cÃ¡c cá»™t cÃ³ thá»ƒ cÃ³ nhiá»u giÃ¡ trá»‹

In [931]:
multiple_cat_cols = ["Categories"]


multiple_dist = raw_df[multiple_cat_cols].agg([
    lambda x: x.str.split(", ").explode().nunique(),
    lambda x: x.str.split(", ").explode().value_counts().to_dict()],
    )
multiple_dist.index = ["count", "distribution"]
multiple_dist

                                                     Categories
count                                                       132
distribution  {'Financial services': 6187, 'Tech': 5359, 'En...

## PhÃ¢n bá»‘ cá»§a cÃ¡c cá»™t `Numerical`

Danh sÃ¡ch cÃ¡c cá»™t `Numerical`

In [932]:
numeric_cols = ['EPS ($)', 'Earnings ($B)', 'Revenue ($B)','Marketcap ($B)', 'Total Debts ($B)', 'Net Assets ($B)','Total Assets ($B)', 'Cash on hand ($B)', 'Share price ($)',]

Gá»i `describe()` Ä‘á»ƒ quan sÃ¡t dá»¯ liá»‡u

In [933]:
raw_df[numeric_cols].describe()

,EPS ($),Earnings ($B),Revenue ($B),Marketcap ($B),Total Debts ($B),Net Assets ($B),Total Assets ($B),Cash on hand ($B)
count,41446.000000,41446.000000,41446.000000,41446.000000,41446.000000,41446.000000,41446.000000,41446.000000
mean,3.819672,2.119273,16.978580,26.895598,11.305330,11.738960,73.564609,8.454082
std,84.666253,7.041591,35.636597,76.989778,33.847036,25.841681,260.327791,38.858210
min,-4486.000000,-59.280000,-108.230000,0.000000,-0.022720,-99.760000,0.000000,0.000000
25%,0.160000,0.210000,1.900000,5.830000,0.539750,1.280000,3.442500,0.260000
50%,0.950000,0.760000,5.850000,11.780000,2.485000,4.240000,11.950000,0.990000
75%,2.690000,2.080000,16.207500,25.360000,8.010000,11.270000,38.080000,3.530000
max,7742.000000,307.360000,817.510000,3043.000000,824.140000,602.460000,5743.000000,933.590000

**Nháº­n xÃ©t**

Dá»±a vÃ o cÃ¡c giÃ¡ trá»‹ `min` vÃ  `max`, ta khÃ´ng nháº­n tháº¥y giÃ¡ trá»‹ nÃ o báº¥t thÆ°á»ng

## LÆ°u preprocessed data

In [934]:
raw_df.to_csv("../Data/preprocessed/cleaned_dataset.csv", index=False)